.npmrc
dist/
public/
.vscode/
coverage/
index.js
index.d.ts
gulpfile.js
src/**/*.js
spec/**/*.js
demos/**/*.js
e2e/**/*.js
test-report/
node_modules/
src/**/*.d.ts
spec/**/*.d.ts
styles/**/*.css
styles/**/*.scss
!styles/**/_*.scss
package-lock.json
protractor.browser.json
